body {
  background-color: rgb(71, 2, 233);
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul li {
  background-color: rgb(249, 252, 252);
  margin: 3px 3px 3px 0px;
  padding: 5px;
}
#container {
  background-color: rgb(95, 45, 233);
  padding: 5px;
}
#container span:hover {
  color: rgb(230, 140, 24);
  cursor: pointer;
}
#container .header span {
  display: inline-block;
  padding: 6px 4px 5px 4px;
}
#container span.fa-plus-square {
  font-size: xx-large;
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
.details {
  margin: 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
.visible {
  margin-top: 10px;
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}
#taskList .details p {
  font-size: small;
}
.header {
  display: flex;
}
.header h2 {
  margin: 0;
  flex-grow: 1;
}
.modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(121, 152, 153, 0.5);
}
.modal-content {
  background-color: white;
}
.modal-header {
  display: flex;
}
.modal-header h2 {
  flex-grow: 1;
}
#task-title {
  width: 225px;
}
.modal-content .modal-body {
  display: flex;
  justify-content: center;
}
.modal-content .modal-body label {
  font-size: larger;
}
.fa-window-close {
  color: red;
  height: 13px;
  cursor: pointer;
}

/*desktop only*/
@media (min-width: 570px) {
  #container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  #task {
    width: 90%;
  }
  .modal-content {
    width: 40%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
